<!-- Navigation -->
<div class="md-content" layout="row" layout-align="center">
    <div layout="column" flex-md="50" flex-lg="35" flex-gt-lg="25" class="md-whiteframe-z2">
        <br><br>
        <div class="registerColumn" layout="column">
            <div layout="row" layout-align="center">
                <h2>כדי להתחיל, הכנס כתובת מייל ובחר סיסמה</h2>
            </div>
            <form class="md-content" [formGroup]="loginForm" #f="ngForm" (ngSubmit)="login()"
                  layout="column">
                <div layout="row" layout-align="center">
                    <h5 flex-md="100" flex-lg="80" flex-gt-lg="65" align="end">כתובת מייל:</h5>
                </div>
                <div layout="row" layout-align="center">
                    <md-input flex-md="100" flex-lg="80" flex-gt-lg="65" formControlName="email" type="email" align="end"><span class="span" md-prefix><i class="fa fa-user-o"></i></span></md-input>
                </div>
                <br>
                <div layout="row" layout-align="center">
                    <h5 flex-md="100" flex-lg="80" flex-gt-lg="65" align="end">בחר סיסמה (לפחות 5 תוים):</h5>
                </div>
                <div layout="row" layout-align="center">
                    <md-input flex-md="100" flex-lg="80" flex-gt-lg="65" formControlName="password" type="password" align="end"><span class="span" md-prefix><i class="fa fa-lock" aria-hidden="true"></i></span></md-input>
                </div>
                <br><br><br><br>
                <div layout="row" style="height:50px;">
                    <button md-raised-button type="submit" aria-label="login" style="font-size:15px;"><i class="fa fa-angle-left" aria-hidden="true"></i> המשך</button>
                </div>
            </form>
            <div [hidden]="error == ''">
                <md-toolbar class="md-warn" layout="row" layout-fill layout-padding layout-margin>
                    <p class="md-body-1">{{ error }}</p>
                </md-toolbar>
            </div>
            <md-divider></md-divider>
            <br><br>
            <div layout="row" layout-align="center">
                <div class="font14"><a [routerLink]="['#']">כבר נרשמת ל-BizAlert? </a> לחץ כאן להתחבר</div>
            </div>
            <br>
        </div>
    </div>
</div>
<!-- Localized -->