@import "./imports/app/colors";
@import '../node_modules/@angular/material/core/theming/all-theme';
@include md-core();
$app-primary:md-palette($md-light-blue,500,100,700);
$app-accent: md-palette($md-pink,A200,A100,A400);
$app-warn:   md-palette($md-red);
$app-theme:  md-light-theme($app-primary,$app-accent,$app-warn);
@include angular-material-theme($app-theme);
@font-face {
  font-family:alef_regular;
  src:url(/fonts/alef/Alef-Regular.ttf)
}
@font-face {
  font-family:alef_bld;
  src:url(/fonts/alef/Alef-Bold.ttf)
}
@font-face {
  font-family:osh_regular;
  src:url(/fonts/opensanshebrew/OpenSansHebrew-Regular.ttf)
}
@font-face {
  font-family:osh_light;
  src:url(/fonts/opensanshebrew/OpenSansHebrew-Light.ttf)
}
@font-face {
  font-family:osh_bold;
  src:url(/fonts/opensanshebrew/OpenSansHebrew-Bold.ttf)
}
.fill-remaining-space{
  flex:1 1 auto;
}
body,html{
  padding:0;
  margin:0;
  background:black;
  font-family:osh_regular;
}
md-toolbar{
  background:$color1;
}
.md-whiteframe-z2, h1{
  color:$color1;
}
a{
  color:$color3;
}
button{
  background-color:$color4 !important;
  width:100%;
  border-radius:0 !important;
  font-size:inherit;
}
.fa-angle-left{
  font-size:large;
  color:white;
}
.registerColumn{
  background:$color2;
}
h2{
  font-family:alef_regular;
  margin-top:10px;
}
.font14{
  font-size:13px;
}
md-input{
  background:$color1;
}
input:-webkit-autofill{
  -webkit-box-shadow:0 0 0px 1000px $color1 inset;
}
input{
  height:35px;
  color:black !important;
}
.md-input-wrapper{
  margin:0 !important;
}
.span{
  color:$color2;
}
.md-input-prefix{
  min-width:35px;
  text-align:center;
  border-right:1px solid $color2;
}
h5{
  margin-bottom:5px;
}
@import "./imports/material-layout";