<md-toolbar>
    <span class="fill-remaining-space"></span>
    <login-buttons></login-buttons>
    <span><a [routerLink]="['#']">  פינת היועצים</a></span>
    <span><a [routerLink]="['#']">הגדרות מונחים  </a></span>
    <span><a [routerLink]="['#']">בלוג </a></span>
    <span><a [routerLink]="['#']" class="toolbar-title">BizAlert</a></span>
</md-toolbar>
<router-outlet></router-outlet>