.toolbar-title{
  font-size:150%;
}
md-toolbar{
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.26);
  font-size:99%;
}
a{
  color:black;
  text-decoration:none;
}
a:hover{
  color:white;
}
span{
  padding-left:2%;
}